## messageSource=classpath:/osanedcore/messages/email-orderConfirmation_$lang.properties
#macro( genHtmlBoldFont $text )
<font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>$text</b></font>
#end
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#666666">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a>
#end
#macro(displayNegationForDiscount $priceData)
	#if (${priceData.value} > 0)
    -
	#end
	${priceData.formattedValue}
#end

<html>
<head>
</head>
<body bgcolor="#ffffff">
	#set ($accountUrl = "${ctx.baseUrl}/my-account/orders")
	#if ( $ctx.order.guestCustomer )
		#set ($orderInfoUrl = "${ctx.baseUrl}/guest/order/${ctx.order.guid}")
	#else
		#set ($orderInfoUrl = "${ctx.baseUrl}/my-account/order/${ctx.order.code}")
	#end
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
<tr>
<td align="center" valign="top">
<table width="610" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#fff">
<tr>
<td align="center" valign="top" bgcolor="#FFFFFF">
<table width="570" cellpadding="0" cellspacing="0" border="0" align="center">
<tr>
    <td>
		${ctx.cmsSlotContents.SiteLogo}
	</td>
</tr>
<tr>
	<td height="30" align="right" valign="middle" bgcolor="#000000">
		#if (! $ctx.order.guestCustomer )
		<font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><a href="${ctx.secureBaseUrl}/my-account"><font color="#FFFFFF">${ctx.messages.myAccount}</font></a> |
		#end <a href="${ctx.baseUrl}/store-finder"><font color="#FFFFFF">${ctx.messages.storeFinder}</font></a> &nbsp;&nbsp;</font>
	</td>
</tr>
<tr>
	<td valign="middle">
		<font color="#666666" size="2" face="Arial, Helvetica, sans-serif">
			<div style="display:block; margin-top:10px;margin-bottom:10px;">${ctx.cmsSlotContents.TopContent}</div>
		</font>
	</td>
</tr>
<tr>
	<td>&nbsp;</td>
</tr>
<tr>
	<td align="center" valign="middle">
		<a href="${ctx.baseUrl}" style="display:block; margin-top:10px;margin-bottom:10px;">${ctx.cmsSlotContents.BottomContent}</a>
	</td>
</tr>
<tr>
	<td height="30" align="right" valign="middle" bgcolor="#000000">
		<font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><a href="${ctx.baseUrl}"><font color="#FFFFFF">${ctx.messages.help}</font></a> | <a href="${ctx.messages.contactUsPage}"><font color="#FFFFFF">${ctx.messages.contactUs}</font></a> | <a href="${ctx.baseUrl}"><font color="#FFFFFF">${ctx.messages.termsAndCondition}</font></a> &nbsp;&nbsp;</font>
	</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
</html>
