.btn-primary{
  background-color: #A7F108;
  color: #000;
  border: 1px solid #A7F108;
  outline: none;
  border-radius: 20px;
  padding: 10px 40px;
  font-weight: bold;
  vertical-align: middle;
  display:block;
}
/*********************testttt***********************/